body {
  display: grid;
  gap: 25px;
}

header {
  display: grid;
  grid-template-columns: 370px 1fr;
}

#hed-sec1 {
  display: grid;
  grid-auto-flow: column;
  text-shadow: 10px;
  color: rgb(117, 59, 11);
  font-size: 24pt;
  font-weight: bold;
}

#hed-sec2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  text-align: right;
  align-items: center;
}

#bu a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: black;
  padding: 5px;
  text-transform: capitalize;
}

nav a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  /* background-color: black; */
  padding: 5px;
  text-transform: capitalize;
}

nav {
  border: solid 2px rgb(153, 52, 52);
  background-color: black;
  margin: auto;
  position: absolute;
  top: 150px;
  right: 0px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tabSec {
  display: grid;
  grid-template-rows: 1fr 4fr;
  margin: 50px;
}

table {
  border: solid black 1px;
  border-collapse: collapse;
  width: 100%;
  height: 70%;
  margin: auto;
}

td {
  border: solid black 1px;
  text-align: center;
}

#imageSec {
  /* display: grid;
    grid-template-columns: 1fr; */
  margin: auto;
  margin-bottom: 0px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(121, 29, 29);
  padding: 0px;
  margin-bottom: 0px;
  height: 60px;
}

#info {
  text-align: right;
  margin-right: 10px;
}
#copy {
  margin-right: 10px;
}
#info a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
